# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Omnidist dist & build artifacts
.omnidist/default/dist/
.omnidist/default/stage/
.omnidist/default/.build-version

# Test & coverage
coverage.out
*.test

# Environment & local files
.env
